body {
    background: -webkit-linear-gradient(left, red , blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, Azure, Gainsboro, Gainsboro, Gainsboro, Azure); /* Standard syntax */
}

.container {
    width: 600px;
    padding: 5px;
    
    border-radius:5px;
    border: 1px solid black;
    
    background-color:Ivory;
    
    margin-left: auto;
    margin-right: auto;
}

h1, h3 {
    text-align:center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

#searchedFor {
    text-align:left;
    font-size:20px;
}

h4 {
    float:left;
}

#songList {
    float: center;
    margin-top: 7%;
    margin-left: 10%;
}

p {
    text-align:center;
}
#error {
    color: IndianRed;
}

#searchForm {
    text-align:center;
}

legend {
    font-size: 20px;
}

a {
    color: RosyBrown;
}



